doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet" href="/css/product.css")
        include ../includes/navigation.pug

    body 
        main
            if products.length > 0
                .grid
                    each product in products
                        article.card.product-item
                            header.card__header    
                                h1.product__title #{product.title}
                            div.card__image
                                img(src=product.imgUrl, alt="A Book") 
                            div.card__content
                                h2.product__price  $#{product.price}
                                p.product__description  #{product.description }
                            .card__actions 
                                a( class='btn', href="/admin/edit-product") Edit
                                form(action="/admin/delete-product",method='POST')   
                                    button.btn(type='submit') Delete 
                                    
            else 
                h1 No products 