doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/main.css")
    body 
    
        header.header
            nav.nav-header
                ul.main_header_itemList
                    li.main_header_item
                        a(class=path==='/'?'active':'',href="/") Shop
                    li.main_header_item
                        a(class=path==='/products' ? 'active':'',href="/products") Products
                    li.main_header_item
                        a(class=path==='/cart'?'active':'',href="/cart") Cart 
                    li.main_header_item
                        a(class=path==='/admin/add-product'?'active':'',href="/admin/add-product") Add Product
                    li.main_header_item
                        a(class=path==='/admin/products'?'active':'',href="/admin/products") Admin Products 
        